.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advice-panel-container {
  background-color: hsl(217, 19%, 24%);
  height: 340px;
  width: 360px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.advice-number {
  margin-top: -20px;
  color: hsl(150, 100%, 66%);
  letter-spacing: 4px;
}
.quote {
  padding: 10px;
  color: hsl(193, 38%, 86%);
  font-size: 26px;
  margin-bottom: 20px;

}

.divider{
  margin-bottom: 10px;
}

.dice-icon{
  height: 25px;
  width: 25px;
}


.btn-advice {
  position: absolute;
  top: 90%;
  border-radius: 50%;
  border-style: none;
  background-color: hsl(150, 100%, 66%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 65px;
  cursor: pointer;
}

.btn-advice:hover{
  box-shadow: 0 0px 30px 5px hsl(150, 100%, 66%);
}
